<section class="container traveller block"> 
    <h2 class="block__heading">جوایز ویژه</h2>
    <div class="travell__slides">
        <div class="travell__slide">
        <div class="slide__img">
            <img src="/assets/images/travell.png" alt="">
        </div>
        <div class="slide__detail">
            <div class="slide__header">
                <span class="badge badge--primary">ویژه</span>
                <p>اقامت رایگان&bull;سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب کویر</p>
            <div class="slide__icons">
                <div>                    
                    <i class="fas fa-heart"></i>
                    <span>12</span>
                    <i class="far fa-eye"></i>
                    <span>24</span>
                </div>
                <div>
                    <i class="far fa-edit"></i>
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </div>
        </div>

        <div class="travell__slide">
        <div class="slide__img">
            <img src="/assets/images/road-mountains.jpg" alt="">
        </div>
        <div class="slide__detail">
            <div class="slide__header">
                <span class="badge badge--primary">ویژه</span>
                <p>اقامت رایگان&bull;سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به شمال کشور</p>
            <div class="slide__icons">
                <div>                    
                    <i class="fas fa-heart"></i>
                    <span>12</span>
                    <i class="far fa-eye"></i>
                    <span>24</span>
                </div>
                <div>
                    <i class="far fa-edit"></i>
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </div>
        </div>

        <div class="travell__slide">
        <div class="slide__img">
            <img src="/assets/images/green-car-ocean.jpg" alt="">
        </div>
        <div class="slide__detail">
            <div class="slide__header">
                <span class="badge badge--primary">ویژه</span>
                <p>اقامت رایگان&bull;سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به دریاچه ی خزر </p>
            <div class="slide__icons">
                <div>                    
                    <i class="fas fa-heart"></i>
                    <span>12</span>
                    <i class="far fa-eye"></i>
                    <span>24</span>
                </div>
                <div>
                    <i class="far fa-edit"></i>
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </div>
        </div>

        <div class="travell__slide">
            <div class="slide__img">
                <img src="/assets/images/damavand.jpg" alt="">
            </div>
            <div class="slide__detail">
                <div class="slide__header">
                    <span class="badge badge--primary">ویژه</span>
                    <p>اقامت رایگان&bull;سفر سه روزه</p>
                </div>
                <p class="slide__title">سفر به دماوند </p>
                <div class="slide__icons">
                    <div>                    
                        <i class="fas fa-heart"></i>
                        <span>12</span>
                        <i class="far fa-eye"></i>
                        <span>24</span>
                    </div>
                    <div>
                        <i class="far fa-edit"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </section>